* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:var(--text-1) !important;
}



.gallery-grid {
    position: relative;
    padding: 0;
    z-index: 1;
    background: transparent;
}

.fixed-archive-top {
    /* padding: 0; */
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    pointer-events: none;
    align-items: center;
    padding: 3vw;
}

.fixed-archive-top h1 {
    position: relative;
}
.is-inview {
    color: var(--primary-bg);
}

h1 {
    font-size: calc(clamp(6em, 9vw, 12em) * .9);
}
.text-fade-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.text-fade-back {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 250%;
    height: 500%;
    transform: translate(-50%, -58%);
    background-image: radial-gradient(rgba(10,10,10,.5) 10%, rgba(10,10,10, 0) 70%);
    /* background-image: radial-gradient(rgba(10,10,10,.5) 10%, red 70%); */
}

h1 .outer-span {
    display: block;
    overflow: hidden;
    position: relative;
}

h1 .outer-span span {
    display: block;
    position: relative;
}

.smaller-h1 {
    display: inline-flex;
    font-size: .4em;
    transform: translate(-10%, -60%);
}

.designs_container {
    max-width:  100%;
    margin: 70px 20px 20px 20px;
    padding: 1rem auto;
}

.image_container {
    columns: 3 300px;
    gap: 15px;
}

img {
    margin-bottom: 10px;
    width: 100%;
}


@media screen and (min-width: 310px) {
    .outer-span.line1 {
        font-size: 3rem;
    }
    .outer-span.line2 {
        font-size: 4rem;
        line-height: 50px;
    }
}


@media screen and (max-width: 879px) {

    .designs_container {
        margin: 20px;
    }

    .image_container {
        columns: 2 150px;
        gap: 18px;
    }
    
}