:root {
    --primary-bg: #fffffe;
    --secondary-bg: #eff0f3;
    --accent-1: #ff8906;
    --accent-1-light: #ffdbb4;
    --accent-2: #f25f4c;
    --accent-3: #d9376e;
    --text-1: #16161a;
    --text-2: #242629;
    --text-3: #2a2a2a;
    --text-4: #a7a9be;
    --text-5: #fffffe;
}

html {
    scroll-behavior: smooth;
} 

body {
    background-color: var(--primary-bg);
    font-family: system-ui, "Poppins", sans-serif;
    color: var(--text-4);
    margin: 0 0 3rem 0;
    font-size: 1rem;
    line-height: 1.6;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: var(--text-1);
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.section {
    padding: 2rem 0 4rem;
}

.section_title {
    font-size: 1.5rem;
    color: var(--text-1);
}

.section_subtitle {
    display: block;
    font-size: 0.813rem;
    margin-bottom: 3rem;
}

.section_title,
.section_subtitle {
    text-align: center;
}

/* LAYOUT */
.container { /* <-- NAV TAG CONTAINER */
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.grid { /* <-- UL tag container */
    display: grid;
    gap: 1.5rem;
}

.header { /* <-- HEADER TAG container */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: var(--primary-bg);
}

.menu-bg {
    z-index: 2;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    margin: 10px 30px 20px 0;
    background: radial-gradient(circle, var(--accent-1), var(--accent-1));
    border-radius: 50%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

.menu-bg:target {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.tim {
    font-size: 0.8rem;
    font-weight: 900;
    border: solid 2px var(--accent-1);
    border-radius: 3px;
    color: var(--accent-1);
    text-decoration: none;
    padding: 3px;
}

.navbar_menu {
    display: flex;
}

.navbar {
    /* max-width: 968px; */
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul a {
    display: flex;
    flex-direction: column;
    color: var(--primary-bg);
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.navbar .navbar_item {
    display: flex;
    padding: 0 1rem;
    list-style: none;
}
.navbar .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    margin-top: 0.3rem;
    margin-left: 1.1rem;
    z-index: 3;
    cursor: pointer;
    transition: 0.3s ease;
    order: 2;
}
.navbar .line {
    height: 5px;
    width: 100%;
    margin-bottom: 4px;
    background-color: var(--accent-1);
    display: block;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.navbar #line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
}

.navbar #line2 {
    translate: transform 0.1s;
}

.navbar #line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
    .navbar .navbar_list {
        display: none;
        position: fixed;
        right: 0;
        bottom: 2rem;
        padding: 1rem 0rem;
        text-align: end;
        z-index: 3;
        animation: fadeIn 2s;
    }
    .navbar .navbar_item {
        display: block;
        margin-bottom: 1.5rem;
        margin-right: 2rem;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .navbar .navbar_item :hover {
        color: var(--text-1);
        transition: 0.3s ease-in-out;
    }
    .navbar .close-menu {
        background: rgba(0, 0, 0, 0.5);
        cursor: default;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        /* "delay" the visibility transition */
        -webkit-transition: opacity 0.5s, visibility 0s linear 0.5s;
        transition: opacity 0.5s, visibility 0s linear 0.5s;
    }
    .navbar #toggle {
        display: flex;
        position: fixed;
        height: 30px;
        width: 37px;
        bottom: 8px;
        right: 17px;
        cursor: pointer;
        justify-self: center;
        align-items: center;
        z-index: 5;
        opacity: 0;
    }
}

.navbar input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: translateY(-2px) rotateZ(40deg);
    background-color: var(--primary-bg);
    transition: color 1s ease;
}

.navbar input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    background-color: var(--primary-bg);
    transform: rotate(-33deg);
    opacity: 0;
    transition: 0.1s;
}

.navbar input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: translateY(1px) rotateZ(-40deg);
    background-color: var(--primary-bg);
    transition: color 1s ease;
}

.navbar input[type=checkbox]:checked ~ .menu-bg {
    transform: translate(60%, 30%);
    width: 600px;
    height: 650px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.navbar input[type=checkbox]:checked ~ .navbar_list {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*  ACTIVE LINK  */
.active-link {
    color: var(--accent-1);
}

/*  CHANGE BACKGROUND HEADER  */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

/* ////////////////////////// HOME //////////////////////// */
.home.section {
    background-color: var(--primary-bg);
    margin-bottom: 10rem;
}

.home_container {
    gap: 1rem;
}

.home_content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
    justify-content: center;
}

.home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.social-icon {
    font-size: 1.25rem;
    color: var(--text-1);
}

.social-icon:hover {
    color: var(--accent-1);
}

.home_blob {
    width: 100%;
    fill: var(--accent-1);
}

.home_blob-img {
    width: 170px;
    transform: rotate(-60deg);
}

.home_data {
    grid-column: 1/3;
}

.home_title {
    font-size: 3rem;
}

.home_subtitle {
    font-size: 1.5rem;
    color: var(--text-4);
    font-weight: 500;
    margin-bottom: 1rem;
}

.home_desc {
    margin-bottom: 2rem;
    color: var(--text-4);
}

.home_scroll {
    display: none;
}

.home_scroll-btn {
    color: var(--accent-1);
    transition: 0.3s;
}

.home_scroll-btn:hover {
    transform: translateY(0.25rem);
}

.home_scroll-mouse {
    font-size: 2rem;
}

.home_scroll-name {
    font-size: 0.813rem;
    color: var(--text-1);
    font-weight: 500;
    margin-right: 0.25rem;
}

.home_scroll-arrow {
    font-size: 1.25rem;
}

.button {
    display: inline-block;
    background-color: var(--accent-1);
    color: var(--text-5);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: 0.3s;
    }

.button:hover {
    background-color: var(--accent-2);
}

.button_icon {
    display: inline-block;
    font-size: 1.25rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.icon {
    display: flex;
    color: #fffffe;
    font-size: 2rem;
    transition: 0.3s;
}

.button-flex {
    display: inline-flex;
    align-items: center;
}

.btn-small {
    padding: 0.75rem 1rem;
}

.btn-link {
    padding: 0;
    background-color: transparent;
    color: var(--accent-1);
}

.btn-link:hover {
    background-color: transparent;
    color: var(--accent-2);
}

.about.section {
    background-color: var(--primary-bg);
}

.about_img {
    width: 50vw;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}

.about_desc {
    text-align: center;
    margin-bottom: 2.5rem;
}

.about_info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

.about_info-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-1);
}

.about_info-name {
    font-size: 0.75rem;
}

.about_info-title,
.about_info-name {
    display: block;
    text-align: center;
}

.about_btn {
    display: flex;
    justify-content: center;
    margin: 3rem 0 10rem 0;
}

.background_tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.background_btn {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--text-1);
}

.background_icon {
    font-size: 1.8rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.bg-sub {
    color: var(--text-4);
}

.background_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 2rem;
    margin-bottom: 1rem;
}

.background_title {
    font-size: 0.938rem;
    font-weight: 500;
}

.background_subtitle {
    display: inline-block;
    font-size: 0.813rem;
    margin-bottom: 0.2rem;
}

.background_calendar {
    font-size: 0.75rem;
    color: var(--text-4);
}

.left {
    display: block;
    text-align: right;
}

.background_rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--accent-1);
    border-radius: 50%;
}

.background_line {
display: block;
width: 1px;
height: 110%;
background-color: var(--accent-1);
transform: translate(6px, -7px);
z-index: 0;
}

.skills.section {
background-color: var(--secondary-bg);
padding: 5rem 0 10rem 0;
}

.skills_container {
row-gap: 0;
}

.skills_header {
display: flex;
align-items: center;
margin-bottom: 2.5rem;
cursor: pointer;
}

.skills_icon,
.skills_arrow {
font-size: 2rem;
color: var(--accent-1);
}

.skills_icon {
margin-right: 0.75rem;
}

.skills_title {
font-size: 1.125rem;
margin: 0;
}

.skills_subtitle {
color: var(--text-4);
font-size: 0.813rem;
margin-bottom: 1.5rem;
text-align: center;
}

.skills_desc {
text-align: center;
margin-bottom: 3.5rem;
}

.skills_arrow {
margin-left: auto;
transition: 0.4s;
}

.skills_list {
row-gap: 1.5rem;
padding: 0 2rem 0 2rem;
}

.skills_title {
display: flex;
justify-content: space-between;
margin: -3px;
}

.skills_name {
font-size: 0.938rem;
font-weight: 500;
}

.skills_bar,
.skills_percentage {
height: 5px;
border-radius: 0.25rem;
}

.skills_bar {
background-color: var(--accent-1-light);
}

.skills_percentage {
display: block;
background-color: var(--accent-1);
}

.skills_html {
width: 90%;
}

.skills_css {
width: 75%;
}

.skills_js {
width: 50%;
}

.skills_react {
width: 80%;
}

.skills_php {
width: 75%;
}

.skills_node {
width: 50%;
}

.skills_firebase {
width: 70%;
}

.skills_python {
width: 50%;
}

.skills_photoshop {
width: 85%;
}

.skills_illustrator {
width: 80%;
}

.skills_indesign {
width: 70%;
}

.skills_cinema {
width: 60%;
}

.skills_figma {
width: 70%;
}

.skills_close .skills_list {
height: 0;
overflow: hidden;
}

.skills_open .skills_list {
height: max-content;
margin-bottom: 2.5rem;
}

.skills_open .skills_arrow {
transform: rotate(-180deg);
}

.services.section {
background-color: var(--secondary-bg);
padding-bottom: 10rem;
}

.services_container {
gap: 1.5rem;
grid-template-columns: repeat(2, 1fr);
}

.services_content {
position: relative;
background-color: var(--primary-bg);
padding: 3.5rem 0.5rem 1.25rem 1.5rem;
border-radius: 0.5rem;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
transition: 0.3s;
}

.services_content:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.services_icon {
display: block;
font-size: 1.5rem;
color: var(--accent-1);
margin-bottom: 1rem;
}

.services_title {
font-size: 1.25rem;
margin-bottom: 1rem;
font-weight: 500;
}

.services_btn {
cursor: pointer;
font-size: 0.813rem;
align-items: center;
}

.btn_icon {
display: inline-block;
font-size: 1rem;
transition: 0.3s;
}

.services_btn:hover .btn_icon {
transform: translateX(0.25rem);
transition: 0.3s;
}

.services_modal {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
align-items: center;
justify-content: center;
padding: 2rem 5rem;
z-index: 1000;
opacity: 0;
visibility: hidden;
transition: 0.3s;
}

.services_modal-content {
position: relative;
background-color: var(--primary-bg);
padding: 1.5rem;
border-radius: 0.5rem;
}

.services_modal-services.grid {
row-gap: 1rem;
display: grid;
}

.services_modal-services {
display: flex;
}

.services_modal-title {
font-size: 1.25rem;
font-weight: 500;
margin-bottom: 1.5rem;
}

.services_modal-close {
position: absolute;
top: 1rem;
right: 1rem;
font-size: 1.5rem;
color: var(--accent-1);
cursor: pointer;
}

.services_modal-icon {
color: var(--accent-1);
margin-right: 0.25rem;
}

.active-modal {
opacity: 1;
visibility: visible;
}

/* //////////////////// PORTFOLIO /////////////////////// */
.projects.section {
    background: var(--primary-bg);
    padding: 6rem 2rem;
    justify-items: center;
}

.proj_t {
color: var(--text-1);
}

.portfolio_container {
    overflow: initial;
}

.portfolio_content {
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio_img {
    width: 570px;
    border-radius: .5rem;
}

.portfolio_data {
    width: 530px;
    background-color: var(--secondary-bg);
    padding: 1.5rem 1rem .7rem 1rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -15rem; /* -15rem */
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.portfolio_title {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.data-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.portfolio_desc {
    margin-bottom: .75rem;
    width: 300px;
}


/* NAMING ANIMATIONS IN HOVER */
.portfolio_content:hover .portfolio_data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.portfolio_content:hover {
    animation: remove-overflow 2s forwards;
}

.portfolio_content:not(:hover) {
    animation: show-overflow 2s forwards;
}

.portfolio_content:not(:hover) .portfolio_data {
    animation: remove-data 1s forwards;
}

/* CARD ANIMATION HOVER */
@keyframes show-data {
    50% {
        transform: translateY(-16rem);
    }
    100% {
        transform: translateY(-13.5rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-13rem);
    }
    50% {
        transform: translateY(-16rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

.swiper {
    width: 700px;
    height: 490px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '' !important;
}

.swiper-arrow-icon {
    font-size: 3rem;
    color: var(--accent-1);
}

.swiper-button-prev {
    left: -.2rem !important;
}

.swiper-button-next {
    right: -.2rem !important;
}

.swiper-pagination-bullet-active {
    background: var(--accent-1) !important ;
}

.swiper-button-prev,
.swiper-button-nexy,
.swiper-pagination-bullet {
    outline: none !important;
}

.project_card-container {
    display: block
}

.project-card {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    transition: .3s ease-in-out;
}

.image-card_container {
    display: block;
    cursor: pointer;
}

.card-bg {
    display: inline-block;
    background: var(--secondary-bg);
    border-radius: 7px;
    padding: 1rem;
}

.card_content {
    position: relative;
    display: flex;
    align-items: center;
}

.card-btn {
    display: flex;
    justify-content: start;
    align-items: end;
    transition: .3s;
}

.card-view {
    /* position: absolute;
    left: .5rem;
    bottom: 0;
    height: 0; */
    display: inline-flex;
    overflow: hidden;
    color: var(--accent-1);
    line-height: 1.2;
    font-size: 2.2rem;
    font-weight: 800;
    transition: .3s;
    cursor: pointer;
    justify-content: center;
    align-content: center;
}

.card-view:hover {
    color: var(--accent-2);
    transition: .3s;
}

.card-view:hover .card-btn {
    transform: translateX(.25rem);
    transition: .3s;
}

.image-frame {
    width: 200px;
    height: 200px;
}

.image_shadow {
    position: relative;
    float: left;
    box-shadow: -2px 4px 4px 1px rgba(0, 0, 0, 0.25) inset;
}

.shade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 0;
    background: linear-gradient( 370deg, rgba(0, 0, 0, 1),rgba(73, 73, 73, 0.087));
    transition: .3s;
    background-image: radial-gradient(rgba(10,10,10, .5) 0%, rgba(10,10,10, 0) 70%);
}

/* .archive-grid .text-fade-back {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 250%;
    height: 450%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(rgba(var(--color-dc), .5) 0%, rgba(var(--color-dc), 0) 70%);
} */

.card_content:hover .shade {
    height: 100%;
    transform: translateY(-30deg);
    transition: .3s ease;
}

.card_content:hover .card-view {
    height: 23%;
    transition: .3s;
}


.web-thumb {
    display: block;
    position: relative;
    object-fit: cover;
}

.card-content_container {
    display: block;
    margin: 2rem;
    width: 210px;
}

.web-card-title {
    margin-bottom: .5rem;
    font-weight: 600;
}

.cropped-image {
    width: 200px;
    height: 200px;
    border: 3px solid #16161a;
}

@media screen and (max-width: 395px) {

    .portfolio_img {
        width: 70vw;
    }

    .portfolio_data {
        width: 180px;
        padding: 1rem;
        font-size: .6rem;
    }

    .portfolio_title {
        font-size: .8rem;
    }
    
    .portfolio_desc {
        width: 160px;
    }

    .card-view {
        font-size:large;
    }

    .swiper {
        width: 90vw;
        height: clamp(220px, 240px, 350px);
    }
}

@media screen and (min-width: 400px) {
    .portfolio_img {
        width: 70vw;
    }

    .portfolio_data {
        width: 250px;
        padding: 1rem;
        font-size: .6rem;
    }

    .portfolio_title {
        font-size: .8rem;
    }
    
    .portfolio_desc {
        width: 200px;
    }

    .card-view {
        font-size:large;
    }

    .swiper {
        width: 50vw;
        height: 280px;
    }
}

/* /////////////////////// CONTACT /////////////////////// */
.contact.section {
    padding: 10rem 5rem;
}

.contact_text1 {
    font-size: 2.3rem;
    font-weight: 500;
}

.contact_text2 {
    font-size: 3rem;
    font-weight: 900;
    transform: translateY(-1.5rem);
}

.contact_container {
    display: grid;
    row-gap: 3rem;
    grid-template-columns: 1fr 0.2fr;
    padding: 5rem 2rem;
}

.contact_information {
display: flex;
margin-bottom: 2rem;
}

.contact_icon {
font-size: 2rem;
color: var(--accent-1);
margin-right: 0.75rem;
}

.contact_title {
font-size: 1rem;
font-weight: 600;
}

.contact_subtitle {
display: block;
font-size: 0.875rem;
color: var(--text-4);
margin-bottom: 0.6rem;
}

.hline-contact {
border-bottom: 1px solid var(--text-1);
width: 70%;
margin: 8rem 0 8rem 0;
display: block;
justify-self: center;
text-align: center;
}

.contact_social {
color: var(--text-4);
}

.contact_social:hover {
color: var(--accent-1);
}

.contact_label {
font-size: 0.75rem;
color: var(--text-1);
}

.contact_input {
width: 100%;
background-color: var(--secondary-bg);
border-radius: 0.5rem;
color: var(--text-3);
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
font-size: 0.938rem;
border: none;
outline: none;
padding: 1rem 1rem 1rem 1rem;
margin-top: 0.5rem;
}

.contact_btn-container {
display: inline-block;
justify-content: center;
}

.footer {
background-color: var(--secondary-bg);
padding-top: 2rem;
}

.footer_container {
row-gap: 3.5rem;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 2fr;
column-gap: 1rem;
row-gap: 5rem;
}

.footer-data {
display: grid;
grid-template-columns: repeat(2, 1fr);
column-gap: 1rem;
align-items: end;
}

.footer-t2 {
font-size: 1.7rem;
font-weight: 800;
margin-bottom: 0.5rem;
color: var(--text-1);
}

.footer_bg {
padding: 5rem clamp(2.5em, 8vw, 8em) 2rem clamp(2.5em, 8vw, 8em);
align-items: end;
justify-content: center;
}

.ft1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.ft2 {
    font-size: 3.8rem;
    font-weight: 800;
    line-height: 50px;
}

.footer-tim {
font-size: 1.5rem;
font-weight: 900;
color: var(--text-1);
}

.footer_subtitle {
font-size: 0.813rem;
color: var(--text-4);
}

.footer_links {
display: flex;
flex-direction: column;
row-gap: 0.8rem;
font-size: medium;
}

.footer_link:hover {
color: var(--accent-1);
}

.footer_content {
    padding-right: 2rem;
}

.footer_text-container {
    position: relative;
}

.footer-btn {
    position: absolute;
    right: 0;
    bottom: -.5rem;
}

/* .contact_btn-container {
display: inline-block;
} */

.btn_fill {
background-color: var(--accent-1);
color: var(--text-5);
display: flex;
align-items: center;
justify-content: center;
transition: 0.3s;
width: clamp(8em, 12vw, 12em);
height: clamp(8em, 12vw, 12em);
border-radius: 50%;
border: 0;
cursor: pointer;
font-weight: 500;
transition: 0.3s;
}

.btn_fill:hover {
background: var(--accent-2);
}

.footer-bottom {
display: flex;
justify-content: space-between;
padding: 0 2rem;
}

.hline-footer {
border-bottom: 1px solid var(--text-1);
width: 100%;
margin: auto;
margin: 8rem 0 1rem 0;
display: flex;
justify-content: center;
}

.footer_socials {
display: flex;
justify-content: end;
font-size: 1.25rem;
text-align: center;
}
.footer_socials :hover {
color: var(--accent-1);
}

.footer_icons {
color: var(--text-1);
padding: 0 0.5rem;
}

.footer-credits {
display: flex;
align-items: center;
}

.footer_copy {
font-size: 0.75rem;
text-align: center;
color: var(--text-3);
margin-top: 0.8rem;
}

.footer_title,
.footer_link,
.footer_social {
color: var(--text-1);
}

.scrollup {
position: fixed;
right: 1rem;
bottom: -20%;
background-color: var(--accent-1);
opacity: 1;
padding: 0 0.5rem;
border-radius: 60%;
z-index: 10;
transition: 0.4s;
}

.scrollup:hover {
background-color: var(--accent-2);
transform: translateY(-0.25rem);
}

.scrollup_icon {
font-size: 1.5rem;
color: var(--text-5);
}

.show-scroll {
bottom: 5rem;
}

body.dark-theme {
--primary-bg: #16161a;
--secondary-bg: #242629;
--tertiary-bg: #eff0f3;
--accent-1: #ff8906;
--accent-1-light: #ffdbb4;
--accent-2: #f25f4c;
--accent-3: #d9376e;
--text-1: #fffffe;
--text-2: #a7a9be;
--text-3: #94a1b2;
}

.navbar_btns {
display: flex;
align-items: end;
}

.change-theme {
font-size: 1.25rem;
color: var(--accent-1);
cursor: pointer;
z-index: 1;
order: 1;
}

.change-theme:hover {
color: var(--accent-2);
}

/* ///////////////////////// == MEDIA QUERIES == /////////////////////// */
/* ================ FOR SMALL DEVICES ================ */
@media screen and (max-width: 390px) {

    .navbar .navbar_item {
        margin-bottom: 0.7rem;
        margin-right: 0.5rem;
        font-size: 1rem;
    }
    .navbar .hamburger-lines {
        height: 22px;
        width: 35px;
        margin: 6px 0 0 15px;
    }
    .navbar .line {
        height: 4px;
        width: 90%;
    }
    #toggle {
        margin-right: .6rem;
    }
    #toggle:checked ~ .menu-bg {
        transform: translate(60%, 25%);
        width: 400px;
        height: 400px;
    }

    .about_img {
        width: 70vw;
    }

    .skills-data-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills_desc {
        width: 250px;
    }

    .services.section {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .services_container.container.grid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .services_content {
        width: 200px;
    }

    /* .swiper {
        width: 280px;
    } */

    .contact.section {
        margin: 5rem 1rem;
        padding: 0;
    }
    
    .contact_container {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .contact_text1 {
        font-size: 2.2rem;
        line-height: 30px;
    }

    .contact_text2 {
        font-size: 3rem;
        line-height: 45px;
        transform: translateY(5px);
    }

    .contact_info-container {
        align-items: start;
    }
    
    .contact_information {
        margin-top: 0.5rem;
    }
    .contact_content {
        padding: 0;
    }

    .footer_bg {
        padding-left: 1.5rem;
    }

    .footer_container {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .ft1 {
        font-size: 1.5rem;
    }

    .ft2 {
        font-size: 3rem;
    }

    .footer-btn {
        bottom: 4rem;
        right: -4rem;
    }

}

@media screen and (min-width: 400px) {
    .navbar .navbar_item {
        margin-bottom: 0.7rem;
        margin-right: 0.5rem;
        font-size: 1rem;
    }

    #toggle {
        margin-right: .3rem;
    }
    #toggle:checked ~ .menu-bg {
        transform: translate(60%, 25%);
        width: 400px;
        height: 400px;
    }

    .skills-data-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills_desc {
        width: 380px;
    }

    .skills_container {
        width: 350px;
    }

    .swiper {
        width: 370px;
    }

    .contact.section {
        margin: 5rem 1rem;
        padding: 0;
    }
    
    .contact_container {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .contact_text1 {
        font-size: 2.2rem;
        line-height: 30px;
    }

    .contact_text2 {
        font-size: 3rem;
        line-height: 45px;
        transform: translateY(5px);
    }

    .contact_info-container {
        align-items: start;
    }
    
    .contact_information {
        margin-top: 0.5rem;
    }
    .contact_content {
        padding: 0;
    }

    .footer_container {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .ft1 {
        max-width: 210px;
    }

    .footer-btn {
        right: -2rem;
        bottom: 4rem;
    }

    .btn_fill {
        width: 9em;
        height: 9em;
    }



}
@media screen and (min-width: 766px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    body {
        margin: 0;
    }
    .section{
        padding: 6rem 0;
    }
    .section_subtitle {
        margin-bottom: 4rem;
    }
    .header {
        top: 0;
        width: 100vw;
        bottom: initial;
        column-gap: 1rem;
    }

    .navbar_btns {
        margin-left: 20px;
        order: 2;
    }
    .navbar {
        width: 100%;
        /* justify-content: space-between;
        align-items: center;
        text-align: center; */
    }
    .navbar ul a {
        color: var(--text-1);
    }
    .navbar .navbar_list {
        display: flex;
        top: 0;
        color: var(--text-1);
    }
    .navbar .navbar_item {
        align-items: center;
        margin: 0;
        font-size: medium;
        font-weight: 400;
    }
    .navbar .navbar_menu {
        margin-left: auto;
    }
    .navbar .change-theme {
        margin: 0;
    }
    #toggle:checked ~ .menu-bg {
        transform: translate(60%, -30%);
        width: 650px;
        height: 650px;
        transition: 0.3s ease-in-out;
    }
    .projects {
        padding: 6 1rem;
    }
    .hamburger-lines,
    #toggle {
        display: none !important;
    }
    .home_container {
        row-gap: 5rem;
        position: relative;
    }
    .home_content {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home_social {
        order: 1;
    }

    .home_blob {
        width: 350px;
    }
    .home_data {
        position: relative;
    }

    .home_scroll {
        display: block;
        position: absolute;
        bottom: -10rem;
        left: 0;
    }

    .about_container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
    .about_img {
        width: 350px;
        margin-left: 5rem;
    }
    .about_desc {
        text-align: initial;
        width: 90%;
    }
    .about_info {
        justify-content: space-between;
        width: 80%;
    }

    .about_data {
        padding-right: 5rem;
    }

    .background_tabs {
        margin: 5rem 0;
    }
    
    .skills-data-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills_desc {
        width: 650px;
    }

    .skills_container.grid {
        margin: 0;
        width: 600px;
    }
    .services_container {
        grid-template-columns: repeat(3, 218px);
        justify-content: center;
    }
    .services_icon {
        font-size: 2rem;
    }
    .services_content {
        position: relative;
        background-color: var(--primary-bg);
        padding: 3rem 2.5rem 2rem 2rem;
        text-align: start;
    }
    .services_modal-content {
        width: 450px;
    }

    .portfolio_img {
        width: 550px;
    }

    .portfolio_data {
        width: 500px;
        padding: 1rem;
        font-size: .9rem;
    }

    .portfolio_title {
        font-size: 1rem;
    }

    .portfolio_desc {
        width: 380px;
    }

    .card-view {
        font-size:1.5rem;
    }

    .swiper {
        width: 620px;
        height: 480px;
    }

    .contact_container {
        display: grid;
        row-gap: 3rem;
        grid-template-columns: 1fr 0.2fr;
        padding: 5rem 2rem;
    }

    .contact_form {
        width: 500px;
    }

    .footer_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-data {
        text-align: center;
        grid-template-columns: repeat(2, 0.4fr);
    }

    .ft1 {
        max-width: 210px;
    }

    .ft2 {
        max-width: 335px;
    }
    .footer-btn {
        right: -1.5rem;
        bottom: 3.8rem;
    }

    .btn_fill {
        width: 11em;
        height: 11em;
    }

    .btn_txt {
        font-size: 1.3rem;
    }
} 

@media only screen and (min-width: 1025px) {
    * {
        margin: 0;
        padding: 0;
    }

    .header,
    .main,
    .footer_container {
        padding: 0;
    }

    .navbar {
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .navbar ul a {
        color: var(--text-1);
    }
    .navbar .nav-link {
        margin: 0;
        padding: auto;
    }
    .navbar .navbar_item {
        margin: 0;
        align-items: center;
        font-size: medium;
        font-weight: 500;
    }
    .navbar .navbar_item :hover {
        color: var(--accent-1);
    }
    .navbar .navbar_item .navbar_list {
        display: flex;
        justify-items: center;
        align-items: center;
        color: var(--text-1);
        width: auto;
        top: 0;
        order: 3;
    }
    .navbar .tim {
        display: flex;
        margin: 0;
    }
    .navbar .hamburger-lines, .navbar #toggle {
        display: none !important;
    }
    .navbar_btns {
        margin-left: 20px;
        order: 2;
    }

    .home_content {
        margin-left: auto;
        margin-right: auto;
        padding: 5rem 9rem;
    }

    .home_blob {
        width: 400px;
    }

    .home_social {
        transform: translateX(-6rem);
    }

    .home_desc {
        max-width: 320px;
    }

    .about_container {
        padding: 0 5rem;
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 2rem;
    }

    .about_data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about_desc {
        max-width: 400px;
    }

    .about_info {
        max-width: 400px;
        margin: 0;
    }

    .footer_container.grid {
        display: grid;
        grid-template-columns: .5fr 1fr .1fr;
    }

    .footer-data {
        display: flex;
        gap: 3rem;
    }

    .footer_content {
        display: flex;
        padding: 0;
        justify-content: end;
    }

    .footer_text-container {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .ft1 {
        font-size: 1.7rem;
        margin: 0;
        max-width: 100%;
    }
    
    .ft2 {
        font-size: 4rem;
        font-weight: 800;
        line-height: 50px;
        max-width: 400px;
    }

    .footer-bottom {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    .footer_copy {
        display: flex;
        margin: 0;
        align-items: center;
    }

    .footer-btn {
        right: -8rem;
        bottom: -1rem;
    }

    .btn_fill {
        width: 10em;
        height: 10em;
    }

    .btn_txt {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1280px) {
    .home_container {
        position: relative;
    }

    .home_content {
        gap: 0px;
    }
    .home_desc {
        max-width: 450px;
    }

    .about_container {
        padding: 0 5rem;
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 2rem;
    }

    .about_data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about_desc {
        max-width: 400px;
    }

    .about_info {
        max-width: 400px;
        margin: 0;
    }
/* 
    .footer_content {
        display: block;
    } */

    .ft1 {
        font-size: 1.7rem;
        /* margin-bottom: 1rem; */
    }
    
    .ft2 {
        font-size: 3.8rem;
        font-weight: 800;
        line-height: 50px;
    }


} 
/* COLORS */